@property --stop-1 { syntax: "<percentage>";
    inherits: false; initial-value: 200%; }
@property --stop-2 { syntax: "<percentage>";
    inherits: false; initial-value: 200%; }
article {
    background-image: linear-gradient(to bottom right, transparent,
        var(--stop-1), #FFF1,
        var(--stop-2), transparent);
    --trans: cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition: all 200ms var(--trans),
        --stop-1 300ms var(--trans), --stop-2 300ms var(--trans);
    &:hover {
        --stop-1: 50%; --stop-2: 90%;
        background-size: cover;
        transform: skew(1deg, 1deg) scale(1.05) translate(2.5%, 2.5%);
}}
