@property --size {
    syntax: "<length>";
    inherits: true;
    initial-value: 200px;
}
@keyframes let {
    from { --size: 200px }
    to   { --size: 1000px }
}
article.bflag-glegle:has(a[href*="zoologist"], a[href$="q=let"]) {
    max-width: none !important;
    --anim: 300s linear forwards;
    animation: let var(--anim);
    & .post-container {
        max-width: none !important;
        max-height: none !important;
        & img {
            max-width:  var(--size) !important;
            max-height: var(--size) !important;
        }
    }
}
